@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Open+Sans&display=swap');
body {
    background-color: #DBF1EE !important;
    font-family: 'Grape Nuts', cursive !important;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

.login-form {
    box-shadow: 5px 0px 0px 0px lightblue, 0px 5px 0px 0px lightblue, 0px 0px 5px 0px lightblue, 0px 0px 0px 5px lightblue;
}

.login-container {
    margin-top: 10%;
}

.form-inputs {
    position: relative;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

input {
    width: 60%;
}


/* cloth store animation */

.title-word {
    animation: color-animation 4s linear infinite;
}

.title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
}

.title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }
    32% {
        color: var(--color-1)
    }
    33% {
        color: var(--color-2)
    }
    65% {
        color: var(--color-2)
    }
    66% {
        color: var(--color-3)
    }
    99% {
        color: var(--color-3)
    }
    100% {
        color: var(--color-1)
    }
}