{%load static%}
<footer>
    <div class="container-fluid" style="background-color:#ccc; ">
        <div class="row d-flex align-items-center justify-content-around ">
            <div class="logo p-4">
                <img src="{%static 'images/outfitters.png'%}" height="40px">
            </div>
            <form>
                <label for="exampleFormControlInput1" class="form-label" style="font-size:30px; font-weight:bolder;">Subscribe</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </form>

        </div>
        <div class=" title row d-flex justify-content-around mt-5">
            <div class="socialmedia d-flex">
                <h1><span class="title-word title-word-1">Follow</span> <span class="title-word title-word-2">us</span> <span class="title-word title-word-3"> on</span> <span class="title-word title-word-4">--></span> <img src="{%static 'images/twitter.png'%}"
                        height="50px"> <img src="{%static 'images/instagram.png'%}"> <img src="{%static 'images/linkedin.png'%}"> <img src="{%static 'images/facebook.png'%}"></h1>

            </div>
        </div>

    </div>

</footer>